.banner-small{
    width: 150px;
    height: auto;
}

.top-bar{
    width: 100%;
    height: 80px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
    margin-bottom: 20px;
}

.top-btn-container{
    display: flex;
    gap: 20px;
}

.top-btn{
    color: var(--white-color);
    background: none;
    border: none;
    outline: none;
}

.top-btn:hover{
    color: var(--hover-color);
}

.carousel-image{
    width: 100%;
    height: auto;
}

.container-xs{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}

:root{
    --main-color:               #62C3A4;
    --white-color:              #fff;
    --hover-color:              #52987f;
}