<!DOCTYPE html>
<html>
    <head>
        <title>극락 크루</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="icon" href="images/favicon.png" type="image/png">
    </head>
    <body>
        <div class="top-bar">
            <div class="top-btn-container">
                <button class="top-btn" onclick="window.open('https://open.kakao.com/o/gZrJzuzg')">오픈 카카오톡</button>
                <button class="top-btn" onclick="window.open('https://www.somoim.co.kr/e6104fa4-3080-11ef-9fe1-0a31a2f27e3f1')">소모임</button>
                <button class="top-btn" onclick="window.open('https://docs.google.com/spreadsheets/d/1O0tRuobf80P91Hz_pd3MkhvR1dIzF9Oj8Un0jr3a6Jc/edit?gid=743911786#gid=743911786')">회원 관리</button>
            </div>
        </div>
        <img src="images/main-logo.jpeg" class="banner-small">
    </body>
</html>